@page
@model RegisterUser.Pages.Users.EditModel
@{
}
<br />
<h2>Edit User</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="userid" value="@Model.userInfo.userid">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">UserName</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="username" value="@Model.userInfo.username">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">UserNo</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="userno" value="@Model.userInfo.userno">
        </div>
    </div>
 
    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>

    }


    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>

    </div>
</form>